.article-write-wrapper {
}

.article-write {
    margin: 0 30px 30px;
    width: 90%;
    background-color: white;
    text-align: center;
}

.article-title input {
    width: 500px;
    padding: 5px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid lightgray;
    outline: none;
    font-size: 1.5rem;
}

.article-title input::placeholder {
    color: lightgray;
}

.article-content textarea {
    width: 500px;
    height: 300px;
    padding: 15px;
    border: 2px solid lightgray;
    font-size: 1.25rem;
    resize: none;
    outline: none;
    font-family: Arial, serif;
}

.article-content textarea::placeholder {
    color: lightgray;
}