.article-list {
    margin: 0 30px 30px;
    background-color: white;
    text-align: center;
}

.list-table {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: none;
    border-collapse: collapse;
    white-space: nowrap;
    background-color: white;
}

.list-table td, .list-table th {
    text-align: center;
    padding: 8px;
}

.list-table thead th {
    border-bottom: 2px solid darkgray;
}

.list-table thead th:nth-child(2) {
    width: 50%;
}

.list-table td {
    border-bottom: 1px solid lightgray;
}

.list-table tbody tr .article-title {
    cursor: pointer;
}

.list-table tbody tr:hover {
    background-color: #e8e8e8;
    font-weight: bold;
}

.list-table tbody tr a {
    text-decoration: none;
    color: black;
}