.register-form {
    margin: 0 30px 30px;
    width: 90%;
    background-color: white;
    text-align: center;
}

.register-form div {
    margin-top: 40px;
    margin-bottom: 60px;
}

.register-form input {
    width: 400px;
    height: 35px;
    border: 2px solid #848484;
}

.register-form input:focus {
    outline: none;
    border: 2px solid white;
    border-bottom: 2px solid #848484;
}

.register-form input {
    text-align: center;
}

.register-form input:disabled {
    background-color: #848484;
}

.register-form button {
    width: 350px;
    height: 40px;
    background-color: lightgray;
    color: white;
    border: 2px solid #848484;
}

.register-form button:hover {
    background-color: #848484;
    border: 2px solid black;
    cursor: pointer;
}

.register-form .input-status {
    color: black;
    font-size: 12px;
    display: block;
    min-height: 16px;
}

.register-form .input-status.invalid {
    color: red;
    font-size: 12px;
    display: block;
    min-height: 16px;
}
.register-form .input-status.valid {
    color: green;
    font-size: 12px;
    display: block;
    min-height: 16px;
}