<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="articleMapper">
    <select id="getArticleList">
        SELECT *
        FROM
            (
                SELECT
                    ROW_NUMBER() OVER(ORDER BY `no` DESC) AS rownum,
                    `no`,
                    `writer`,
                    `text`,
                    `title`,
                    `views`,
                    `createdDate`,
                    `lastUpdatedDate`
                FROM
                    simple_board_1
            ) A
        WHERE A.rownum BETWEEN CAST(#{articleStart} AS INTEGER) AND CAST(#{articleEnd} AS INTEGER)
    </select>
    <select id="getTotalArticleCount">
        SELECT
            COUNT(`no`) as totalCount
        FROM
            simple_board_1
    </select>
    <select id="getArticleByNo">
        SELECT *
        FROM simple_board_1
        WHERE `no` = #{no}
    </select>
    <update id="updateArticleView">
        UPDATE simple_board_1
        SET
            views = views + 1
        WHERE `no` = #{no}
    </update>
    <insert id="addNewArticle">
        INSERT INTO simple_board_1
            ( `title`, `text` )
        VALUES
            ( #{title}, #{text})
        RETURNING *
    </insert>
    <delete id="deleteArticle">
        DELETE FROM simple_board_1
        WHERE `no` = #{no}
        RETURNING *
    </delete>
    <update id="editArticle">
        UPDATE simple_board_1
        SET
            `title` = #{title},
            `text` = #{text},
            `lastUpdatedDate` = NOW()
        WHERE `no` = #{no}
    </update>
</mapper>
