.check-password {
    margin: 0 30px 30px;
    width: 90%;
    background-color: white;
    text-align: center;
}

.check-password div {
    margin-top: 40px;
    margin-bottom: 60px;
}

.check-password input {
    width: 400px;
    height: 35px;
    border: 2px solid #848484;
}

.check-password button {
    width: 350px;
    height: 40px;
    background-color: lightgray;
    color: white;
    border: 2px solid #848484;
}